<article>
  <header>
    <h1>@|title|</h1>
    <p class='date-and-tags'>@|date| :: @|tags|</p>
  </header>
  @|content|
  <footer>
    <!-- @twitter-share-button[full-uri]
    @google-plus-share-button[full-uri]
    @disqus-comments["shortname"] -->
    @older/newer-links[older-uri older-title newer-uri newer-title]
  </footer>
</article>
